<!DOCTYPE html>
<html>
    <head>
        <title>Bill generator</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <center>
        <nav>
            <h3>BILL GENERATOR</h3>
        </nav>
        </center>
        <center>
            <div class="zero">
            <form>
                <table>
                    <tr>
                        <td>Item name</td><td><input type="text" placeholder="Enter item name"></td>
                    </tr>
                    <tr>
                        <td>Price</td><td><input type="number" placeholder="Enter price"></td>
                    </tr>
                    <tr>
                        <td>Quantity</td><td><input type="number" placeholder="Enter qty"></td>
                    </tr>
                    <tr>
                        <td>
                            <button>Add item</button>
                        </td>
                    </tr>
                </table>
            </form>
        <form>
            <div class="one">
            <table>
                <tr>
                    <td><h2>BILL</h2></td>
                </tr>
            </table>
            </div>
        </form>
        <form>
            <div class="two">
            <table border="1">
                <tr>
                    <td>S.No</td>
                    <td>Item name</td>
                    <td>Price(Rs)</td>
                    <td>Qty</td>
                    <td>Total(Rs)</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Blue pen</td>
                    <td>10</td>
                    <td>10</td>
                    <td>100</td>
                </tr>
            </table>
        </div>
        </form>
            <center><h2 class="next_page"><a href="">GENERATE BILL</a></h2></center>
        </center>
        </div>
    </body>
</html>