*{
    padding: 0;
    margin: 0;
    font-size: 25px;
}
.one{
    background: maroon;
    color: tan;
    display: inline-block;
    padding-left: 178.7px;
    padding-right: 178.7px;
}
.two td{
    width: 120px;
    background: lightgrey;
    background-size: 100px;
    padding: 10px;
    border-collapse:collapse;
    display: inline-block;
    border-style:solid ;
    border-width:1px ;
}
nav{
    background: navy;
    color: lightslategray;
    padding: 20px;
}
.zero{
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 20px;
}