.footer {
    background-color: #292c31;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
  }
  
  .footer-section h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 14px;
    line-height: 1.8;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #ffb400;
  }
  
  .social-icons a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
  }
  
  .social-icons a:hover {
    color: #ffb400;
  }
  
  .footer-bottom {
    margin-top: 40px;
    font-size: 14px;
    border-top: 1px solid #444444;
    padding-top: 20px;
  }
  /* From Uiverse.io by faxriddin20 */ 
.card {
    width: fit-content;
    height: fit-content;
    background-color:#292c31;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.footer-section.links{
    display: flex;
    flex-direction: row;
}